JSON(JavaScript Object Notation)
- 경량의 DATA-교환 형식으로 사람이 읽고 쓰기에 용이하며, 기계가 분석하고 생성하기 용이함
- xml만큼은 아니지만 많이 보편화됨

객체(object)
- JSON에서 데이터를 표현하는 최소 단위
- {}(중괄호)로 묶여진 여러 개의 name(이름)과 value(값)의 쌍(pair)
  - 이름은 항상 string(문자열)이어야 함
  - 이름 / 값의 쌍은 :(콜론)으로 분리
  - 여러 개의 쌍은 ,(쉼표)로 분리
- 순서(order)는 고려하지 않음

배열(array)
- JSON 여러 개의 값을 묶어 배열로 표현할 수 있음
- 대괄호로 묶여진 여러 개의 값
  - 각 값은 ,(쉼표)로 분리
  - 값의 종류는 객체를 퐇마하므로, 객체로만 배열할 수 있음


값(value)
- 값으로 사용할 수 있는 자료형
  - str, number(int, fraction, exponenet), object, array, bool, null

문자열(string)
- ""(쌍 따옴표)로 묶여 있어야 함
- 문자열에 사용할 수 있는 기호
  - 따옴표, \, 각종 제어 문자를 제외한 표시 방법

숫자(nubmer)
- 음수 / 양수 모두 표기할 수 있음
- 정수는 0이 아닌 숫자로 시작하여, 0을 포함한 숫자로 끝남
- 실수는 정수에 소수점을 포함하여 숫자로 끝남
- 지수는 실수데 E 혹은 e를 포함하여 숫자로 끝남

공백(whitespace)
- 문자열의 공백이 아닌, JSON이 내부적으로 표현할 때 사용하는 공백
- 아무것도 없을 수 있음
- 띄어쓰기, 라인피드

스키마(Schema)
- 어떠한 구조
- 컴퓨터 공학에서 객체에 대한 자료형 / 구조를 의미하거나 표현할 때 사용
- Python에서 하나의 변수가 댜양한 자료형을 표현할 수 있듯이, JSON 또한 다양한 값을 표현할 수 있음
- 기기간 데이터 교환을 쉽게 할 수 있도록 제아한 JSON 특성 상, 잘못된 스키마 정의는 데이터 교환이 잘못될 수 있음

1. 실습 데이터 : 공공데이터 포털 - 오픈 API - 기상청_단기예보 ((구)_동네예보) 조회 서비스 활용 신청 후 사용

2. 승인 받은 후 개발 계정 상세보기에서 일반 인증키(Decoding) 사용

3. 상세기능에서 목록 선택 후 조희

4. 요청 변수는 내가 제공해야하는 값

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
#requests.get(url, pranms=None, **kwargs)
#url: GET 방식으로 전달하고자 하는 페이지 URL 주소
#paranms: 딕셔너리(dict)형, 튜플 / bytes형 또한 지원, 전달하려는 폼 내용

In [13]:
#URL 정보와 매개변수
#오픈 API의 '데이터셋' 메뉴 참조
url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst'

service_key = 'wAonAzTNv5ynPmEsjaEzjdheBBubBVL+E0Ss46tsYzdHeER+DyKdMYkVnITghr/BRjTXxZZtXzeh6czNGxUQ+Q=='

#요청 변수 입력, nx / ny 정보는 서울 중구 필동 기준
payload = {'serviceKey' : service_key, 'pageNo' : '1', 'numOfRows' : '1000', 'dataType' : 'JSON',
           'base_date' : '20220719', 'base_time' : '0500', 'nx' : '60', 'ny' : '127'}

In [14]:
#정보 요청 - 어디에 어떤걸 제출할지
reqs = requests.get(url, params=payload)

print(reqs.url) #요청한 URL 주소
print(reqs.status_code) #요청 결과, 정상이면 200 나옴

print(reqs.text) #JSON 내용
print((len(reqs.content))) #JSON의 길이

http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?serviceKey=wAonAzTNv5ynPmEsjaEzjdheBBubBVL%2BE0Ss46tsYzdHeER%2BDyKdMYkVnITghr%2FBRjTXxZZtXzeh6czNGxUQ%2BQ%3D%3D&pageNo=1&numOfRows=1000&dataType=JSON&base_date=20220719&base_time=0500&nx=60&ny=127
200
{"response":{"header":{"resultCode":"00","resultMsg":"NORMAL_SERVICE"},"body":{"dataType":"JSON","items":{"item":[{"baseDate":"20220719","baseTime":"0500","category":"PTY","nx":60,"ny":127,"obsrValue":"0"},{"baseDate":"20220719","baseTime":"0500","category":"REH","nx":60,"ny":127,"obsrValue":"86"},{"baseDate":"20220719","baseTime":"0500","category":"RN1","nx":60,"ny":127,"obsrValue":"0"},{"baseDate":"20220719","baseTime":"0500","category":"T1H","nx":60,"ny":127,"obsrValue":"24.4"},{"baseDate":"20220719","baseTime":"0500","category":"UUU","nx":60,"ny":127,"obsrValue":"0.6"},{"baseDate":"20220719","baseTime":"0500","category":"VEC","nx":60,"ny":127,"obsrValue":"244"},{"baseDate":"20220719","baseTime":"0500","category":"VVV","nx":60,"ny":127,"obsrValue":"0.3"},{"baseDate":"20220719","baseTime":"0500","category":"WSD","nx":60,"ny":127,"obsrValue":"0.7"}]},"pageNo":1,"numOfRows":1000,"totalCount":8}}}
909

In [15]:
#모듈 json
import json
print(json.dumps(json.loads(reqs.text), sort_keys=True, indent=4))

#메소드 load / loads 차이는 파일 / 문자열로부터 JSON 객체를 생성
#load(fp): 파일 fp(텍스트 or 바이너리)의 내용을 JSON 객체로 생성하여 반환 - dump(obj, fp)
#loads(s): 문자열 s의 내용을 JSON 객체로 생성하여 반환 - dumps(obj)
#dump / dumps 차는 객체를 파일 / 문자열로 생성

{
    "response": {
        "body": {
            "dataType": "JSON",
            "items": {
                "item": [
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "PTY",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "0"
                    },
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "REH",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "86"
                    },
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "RN1",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "0"
                    },
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "T1H",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "24.4"
                    },
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "UUU",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "0.6"
                    },
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "VEC",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "244"
                    },
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "VVV",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "0.3"
                    },
                    {
                        "baseDate": "20220719",
                        "baseTime": "0500",
                        "category": "WSD",
                        "nx": 60,
                        "ny": 127,
                        "obsrValue": "0.7"
                    }
                ]
            },
            "numOfRows": 1000,
            "pageNo": 1,
            "totalCount": 8
        },
        "header": {
            "resultCode": "00",
            "resultMsg": "NORMAL_SERVICE"
        }
    }
}

In [27]:
#JSON을 변환하여 Key 확인
load_json = json.loads(reqs.text)
print(load_json.keys())

#loads 메소드로 문자열을 json을 변경
print(type(reqs.text))
print(type(load_json))

dict_keys(['response'])
<class 'str'>
<class 'dict'>

In [28]:
#JSON을 DataFrame으로
df = pd.DataFrame(load_json)
df

                                                 response
body    {'dataType': 'JSON', 'items': {'item': [{'base...
header  {'resultCode': '00', 'resultMsg': 'NORMAL_SERV...

In [22]:
#다시 JSON을 DataFrame으로
print(load_json['response']['body']['items']['item'][0])

df = pd.DataFrame(load_json['response']['body']['items']['item'])
df

{'baseDate': '20220719', 'baseTime': '0500', 'category': 'PTY', 'nx': 60, 'ny': 127, 'obsrValue': '0'}

   baseDate baseTime category  nx   ny obsrValue
0  20220719     0500      PTY  60  127         0
1  20220719     0500      REH  60  127        86
2  20220719     0500      RN1  60  127         0
3  20220719     0500      T1H  60  127      24.4
4  20220719     0500      UUU  60  127       0.6
5  20220719     0500      VEC  60  127       244
6  20220719     0500      VVV  60  127       0.3
7  20220719     0500      WSD  60  127       0.7

In [29]:
#여러 시간의 단기 예보 - 한 번에 한 시간 날씨만 제공 받을 수 있으므로, 여러 시간 날씨 정보는 여러번 요청해야함
import time

payload = {'serviceKey' : service_key, 'pageNo' : '1', 'numOfRows' : '1000', 'dataType' : 'JSON',
           'base_date' : '20220719', 'base_time' : '0500', 'nx' : '60', 'ny' : '127'}

time_list = ['0000', '0200', '0400', '0600', '0800', '1000']
pieces = list()

In [30]:
for i in time_list:
  payload['base_time'] = i
  reqs = requests.get(url, params=payload)
  time.sleep(1)#네트워크가 생각보다 느리기 때문에 요청 후 바로 분석 시작하면 누락 데이터 있을 수 있음
  load_json = json.loads(reqs.text)
  df = pd.DataFrame(load_json['response']['body']['items']['item'])
  pieces.append(df)

df_weather = pd.concat(pieces, ignore_index = True)
df_weather

    baseDate baseTime category  nx   ny obsrValue
0   20220719     0000      PTY  60  127         0
1   20220719     0000      REH  60  127        82
2   20220719     0000      RN1  60  127         0
3   20220719     0000      T1H  60  127      25.2
4   20220719     0000      UUU  60  127      -0.6
5   20220719     0000      VEC  60  127        55
6   20220719     0000      VVV  60  127      -0.4
7   20220719     0000      WSD  60  127       0.8
8   20220719     0200      PTY  60  127         0
9   20220719     0200      REH  60  127        83
10  20220719     0200      RN1  60  127         0
11  20220719     0200      T1H  60  127      24.9
12  20220719     0200      UUU  60  127       1.4
13  20220719     0200      VEC  60  127       288
14  20220719     0200      VVV  60  127      -0.4
15  20220719     0200      WSD  60  127       1.5
16  20220719     0400      PTY  60  127         0
17  20220719     0400      REH  60  127        85
18  20220719     0400      RN1  60  127         0
19  20220719     0400      T1H  60  127      24.4
20  20220719     0400      UUU  60  127       1.6
21  20220719     0400      VEC  60  127       269
22  20220719     0400      VVV  60  127         0
23  20220719     0400      WSD  60  127       1.6
24  20220719     0600      PTY  60  127         0
25  20220719     0600      REH  60  127        84
26  20220719     0600      RN1  60  127         0
27  20220719     0600      T1H  60  127      24.8
28  20220719     0600      UUU  60  127       1.1
29  20220719     0600      VEC  60  127       256
30  20220719     0600      VVV  60  127       0.3
31  20220719     0600      WSD  60  127       1.1
32  20220719     0800      PTY  60  127         0
33  20220719     0800      REH  60  127        77
34  20220719     0800      RN1  60  127         0
35  20220719     0800      T1H  60  127      27.6
36  20220719     0800      UUU  60  127       1.6
37  20220719     0800      VEC  60  127       265
38  20220719     0800      VVV  60  127       0.1
39  20220719     0800      WSD  60  127       1.6
40  20220719     1000      PTY  60  127         0
41  20220719     1000      REH  60  127        64
42  20220719     1000      RN1  60  127         0
43  20220719     1000      T1H  60  127      29.4
44  20220719     1000      UUU  60  127       2.9
45  20220719     1000      VEC  60  127       278
46  20220719     1000      VVV  60  127      -0.3
47  20220719     1000      WSD  60  127       2.9